* {
  margin: 0;
  padding: 0;
}
.ListOfProducts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.ProductCard {
  width: calc(25% - 20px);
  height: min-content;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.ProductCard:hover {
  background-color: #d8d8d8;
  width: +25%;
  height: +25%;
  cursor: pointer;
}

.ProductCard img {
  width: 60%;
  height: 60%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.ProductCard h3 {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.ProductCard p {
  font-size: 25px;
  color: red;
  font-weight: 700;
}

.ProductCard button {
  margin: 30px;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(255, 0, 0);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  color: black;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ProductCard button:hover {
  background: rgb(255, 0, 0);
  box-shadow: 0 0 30px 5px rgb(255, 0, 0);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: white;
  cursor: pointer;
}
.ProductCard:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.ProductCard button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.ProductCard button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
